* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  place-content: center;
  align-items: center;
  row-gap: 50px;
}

.grid-item {
  height: 100px;
  width: 100px;
  border: solid 5px black;
  margin-inline: auto;
}

.bg-img {
  height: 40vh;
  background-image: url(./Image/Solar-system-3-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}